
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e5ff;
}
.header {
    /* background-color: #4CAF50; */
    color: white; 
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}
.header-container{
    color: aliceblue;
}
form {
    /* max-width: 1350px; */
    margin: 0px auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(32, 31, 31, 0.1); 
    /* border-radius: 8px;*/
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
input[type="text"] {
    width: 20%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.origin_css{
    width: 20%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button_show {
    padding: 8px;
    margin-bottom: 7px;
}
.button_show:hover {
    background-color: #6945a0;
}


